﻿<h1>Admin</h1>

<a ui-sref="cubed.snippet" class="col-md-12">snippet</a>

<div ng-repeat="user in users">
    {{user.userName}} - Roles:
    <div ng-repeat="role in user.roles">{{role}}</div>
    {{user}}
</div>