﻿html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
	xpadding-bottom: 10px;
	font-size: 13px;
}

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

/* Sticky footer styles
-------------------------------------------------- */

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

.text-muted {
    margin: 20px 0;
}

.form-login {
    max-width: 330px;
    padding: 0px 15px 5px 15px;
    margin: 0 auto;
}

    .form-login .form-login-heading {
        margin-bottom: 10px;
    }

    .form-login .form-control {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
    }

        .form-login .form-control:focus {
            z-index: 2;
        }

    .form-login input[type="password"] {
        margin-top:5px;
        margin-bottom: 5px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }


body.cubed {
	background-color: #F9F7F7;
}

.dropzone {
	border: 1px solid #ccc;
	text-align: center;
	z-index: 1000;
}

.dropzone-empty {
	padding: 60px;
}

.btn-sideui-left {
        color: #333;
        background-color: #fff;
        border-color: #333;
        border-left: none;
        
        position: relative;
        left: -15px;

        margin-top: 10px;
    }

.cube-dashboard-container {
	margin-left: 150px;
	margin-right: 150px;
}

.media-lightbox {
	position: relative;
}
	.media-lightbox .media-heading {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		background-color: #000000;
		-ms-opacity: 0.5;
		opacity: 0.5;
		filter: alpha(opacity=50);
	}

	.media-lightbox .media-heading .text {
		color: #cccccc;
	}

	.media-lightbox img,
	.media-lightbox a img {
		width: 100%;
	}

.embed-responsive-item iframe {
	width: 100%;
}

/* SNIPPETS */

.snippet-post span {
	font-size: 85%;
}

.snippetbox-holder {
	width: 100%;
	float: left;
}

.snippetbox-expand {
	/* this will be the length of the animation */
	-moz-transition: width 1s ease;
	-webkit-transition: width 1s ease;
	-o-transition: width 1s ease;
	transition: width 1s ease;
}

.snippetbox-attachement {
	padding-bottom: 5px;
}

.snippetbox-buttons {
	padding-top: 5px;
	padding-bottom: 5px;
}

	.snippetbox-buttons button {
		width: 70px;
	}

.custom-textarea {
	background-color: #fff;
	/*height: 50px;*/
	padding: 5px;
	border: 1px solid #e4e4e4;
}

/*div[placeholder]:not(:focus):not([data-div-placeholder-content]):empty:before {
	content: attr(placeholder);
	float: left;
	margin-left: 5px;
	color: gray;
}*/

[contenteditable]:not(:focus):empty:before {
	content: attr(placeholder);
	display: block; /* For Firefox */
	float: left;
	margin-left: 5px;
	color: gray;
}

.endzone {
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	text-align: center;
}
