﻿<table class="table table-hover">
    <tr>
        <th ng-repeat="col in gridData.Cols">{{col.header}}</th>
    </tr>

    <tr ng-repeat="row in gridData.Rows">
        <td ng-repeat="col in gridData.Cols">{{row[col.dataName]}}</td>
    </tr>
</table>
