﻿<div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" ng-click="Collapser()">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a ng-hide="authentication.isAuth" class="navbar-brand" ui-sref="home">{{brand.label}}</a>
        <a ng-hide="!authentication.isAuth" class="navbar-brand" ui-sref="cubed">{{brand.label}}</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li ng-repeat="nav in Nav.mainNav" ng-if="nav.auth && authentication.isAuth"><a ui-sref="{{nav.state}}">{{nav.label}}</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li ng-hide="authentication.isAuth"><a ui-sref="login">Log in</a></li>
            <li ng-hide="authentication.isAuth"> <a ui-sref="signup">Sign Up</a></li>
            <li ng-hide="!authentication.isAuth"><a ui-sref="profile">Welcome {{authentication.userName}}</a></li>
            <li ng-hide="!authentication.isAuth"><a ng-click="logOut()">Logout</a></li>
        </ul>
    </div>
    <nav class="visible-xs collapse" collapse="isCollapsed" style="height: 0px;">
        <ul class="nav navbar-nav">
            <li ng-repeat="nav in Nav.mainNav" ng-if="nav.auth && authentication.isAuth"><a ui-sref="{{nav.state}}" ng-click="Collapser()">{{nav.label}}</a></li>
            <li ng-hide="authentication.isAuth"><a ui-sref="login" ng-click="Collapser()">Log in</a></li>
            <li ng-hide="authentication.isAuth"><a ui-sref="signup" ng-click="Collapser()">Sign Up</a></li>
            <li ng-hide="!authentication.isAuth"><a ui-sref="home" ng-click="Collapser()">Profile</a></li>
            <li ng-hide="!authentication.isAuth"><a ng-click="logOut()">Logout</a></li>
        </ul>
    </nav>
</div>