﻿<!DOCTYPE html>
<html ng-app="cubeApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title ng-controller="layoutCtrl">{{brand.label}}</title>
    <base href="/" />
    <link href="Assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="Assets/css/sweet-alert.css" rel="stylesheet" />
    <link href="Assets/css/ngProgress.css" rel="stylesheet" />
    <link href="Assets/css/social-buttons.css" rel="stylesheet" />
    <link href="Assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="Assets/css/select.min.css" rel="stylesheet" />
    <link href="Assets/css/Cube.css" rel="stylesheet" />
    <script src="Assets/lib/modernizr-2.6.2.js"></script>
    <script src="Assets/lib/sweet-alert.min.js"></script>
    <script src="Assets/lib/moment.min.js"></script>
    <script src="Assets/lib/underscore.min.js"></script>
    <script src="Assets/lib/angular.min.js"></script>
    <script src="Assets/lib/angular-sanitize.min.js"></script>
    <script src="Assets/lib/angular-ui-router.js"></script>
    <script src="Assets/lib/angular-resource.min.js"></script>
    <script src="Assets/lib/angular-local-storage.js"></script>
    <script src="Assets/lib/angular-ui-select.min.js"></script>
    <script src="Assets/lib/angular-animate.min.js"></script>
    <script src="Assets/lib/ui-bootstrap-tpls.min.js"></script>
    <script src="Assets/lib/ngProgress.min.js"></script>
    <script src="Assets/lib/angular-moment.min.js"></script>
    <script src="App/app.js"></script>
    <script src="App/app.utils.js"></script>
    <script src="App/Core/core.module.js"></script>
    <script src="App/Core/core.service.js"></script>
    <script src="App/Core/core.directive.js"></script>
    <script src="App/Shared/videoShare.module.js"></script>
    <script src="App/Components/Admin/admin.module.js"></script>
    <script src="App/Components/Admin/admin.service.js"></script>
    <script src="App/Components/Cubed/cubed.module.js"></script>
    <script src="App/Components/Cubed/Snippet/snippet.module.js"></script>
    <script src="App/Components/Cubed/Snippet/snippet.service.js"></script>
    
</head>
    <body ng-controller="layoutCtrl" ng-class="{'cubed': isCubed()}">
        <nav role="navigation" class="navbar navbar-inverse navbar-fixed-top" ng-include="'App/shared/mainNav.html'"></nav>
        <div class="jumbotron" ng-hide="!isPublic()">
            <div class="container">
                <h1>{{brand.label}}</h1>
                <p class="lead">
                    This is a basic AngularJS SPA on top of .NET WebAPI framework
                </p>
            </div>
        </div>
        <div class="container-fluid">
            <div ui-view></div>
        </div>
            <hr />
        <footer ng-include="'App/shared/footer.html'"></footer>
        <script src="Assets/lib/respond.min.js"></script>
        <script src="Assets/js/Cube-0.0.1.js"></script>
    </body>

</html>
