﻿<div class="row">
    <div style="width: 220px">
        <div class="thumbnail">
            <img ng-src={{profile.avatar}} ng-if="!isImageUpdate" width="200px" height="200px" ng-click="ImageUpdate()" />
            <div ng-if="isImageUpdate">
                <div style="text-align: center" file-dropzone="[image/png, image/jpeg, image/gif]"
                     file="profile.avatar" data-max-file-size="3" drop-event="dropEvent">
                    <span id="dropText" ng-if="!isImageDropped">Drop Image Here</span>
                    <img ng-src={{profile.avatar}} width="200px" height="200px" />
                </div>
                <a class="btn-link btn-lg" ng-click="uploadImage()" ng-if="isImageDropped">
                    <span class="glyphicon glyphicon-ok-circle" aria-hidden="true" style="color: green;"></span>
                </a>
            </div>
            <div class="caption">
                <h3>{{profile.userName}}</h3>
                <p>...</p>
            </div>
        </div>
    </div>
</div>


<style>
    #dropText {
        z-index: 100;
        position: absolute;
        color: white;
        left: 50px;
        top: 100px;
        text-shadow: 2px 2px #000;
    }
</style>