﻿<a ui-sref="cubed.snippet" class="btn btn-default">snippets</a>

<div class="cube-dashboard-container">
    <ui-view>

        <!--<div id="latestSnippet" class="col-md-3 panel panel-default">
                <div class="">
                    <div class="row panel panel-default">

                        <div class="media-left media-middle">
                            <img title="user-dp" class="media" src="../../../Assets/Img/user-icon.png" width="50" ng-if="SnippetNews.snippet.user.avatar == null" />
                            <img title="user-db" class="media" ng-src="{{SnippetNews.snippet.user.avatar}}" width="50" ng width="50" ng-if="SnippetNews.snippet.user.avatar != null" />
                        </div>

                        <div class="media-body">
                            <div class="col-md-12">
                                <div class="user-name">
                                    <span>{{SnippetNews.snippet.user.userName}}</span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <span class="snippet-timestamp">
                                    <time>{{SnippetNews.snippet.created | amCalendar }}</time>
                                </span>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-12 no-padding">
                            {{SnippetNews.snippet.text}}
                        </div>
                        <div class="photo-display" ng-if="SnippetNews.snippet.mediaType.name=='Image'">
                            <div class="image">
                                <img ng-src="{{SnippetNews.snippet.snippetImage.image}}" alt="{{SnippetNews.snippet.snippetImage.name}}" class="col-md-12" />
                            </div>
                        </div>

                        <div class="link-display" ng-if="SnippetNews.snippet.mediaType.name=='Link'">
                            <div class="image">
                                <a href="{{SnippetNews.snippet.snippetLink.url}}" target="blank">
                                    <img ng-src="{{SnippetNews.snippet.snippetLink.image}}" class="col-md-12" />
                                </a>
                            </div>
                            <a href="{{SnippetNews.snippet.snippetLink.url}}" target="blank">{{SnippetNews.snippet.snippetLink.title}}</a>
                            <p>{{SnippetNews.snippet.snippetLink.summary}}</p>
                        </div>

                        <div class="video-display" ng-if="SnippetNews.snippet.mediaType.name=='Video'">

                            <embed-video ng-href="{{SnippetNews.snippet.snippetVideo.url}}" class="col-md-12">
                                <a href="{{SnippetNews.snippet.snippetVideo.url}}">Watch</a>
                            </embed-video>

                        </div>

                    </div>

                    <div class="row">

                        <div class="media-body">
                            <span class="user-name">{{SnippetNews.comment.user.userName}}</span>
                            &mdash;
                            <span class="snippet-timestamp date-posted">
                                <time>{{SnippetNews.comment.created | amCalendar }}</time>
                            </span>
                            <div class="snippet-comment">
                                {{SnippetNews.comment.text}}
                            </div>
                        </div>

                    </div>
                </div>
            </div>-->

    </ui-view>

</div>