﻿<div class="snippet-post">

    <div class="panel panel-default">
        <!--Category-->
        <div class="category" ng-if="request.filter.category==null">
            <span class="snippet-category">
                {{snippet.category.name}}
            </span>
        </div>
        <!--END Category-->
        <!--Snippet header-->
        <div class="post-details">
            <table>
                <tbody>
                    <tr>

                        <td class="post-information col-md-7 no-padding">
                            <div class="user-profile-img col-md-4 no-padding">
                                <img title="user-dp" class="media" src="../../../Assets/Img/user-icon.png" width="50" ng-if="snippet.user.avatar == null" />
                                <img title="user-db" class="media" ng-src="{{snippet.user.avatar}}" width="50" ng-if="snippet.user.avatar != null" />
                            </div>

                            <div class="snippet-details col-md-8 no-padding">
                                <div class="col-md-12">
                                    <div class="user-name">
                                        <span>{{snippet.user.userName}}</span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <span class="snippet-timestamp">
                                        <time>{{ snippet.created | amCalendar }}</time>
                                    </span>
                                </div>
                            </div>
                        </td>

                        <td class="hash-tags col-md-5">
                            <div class="user-name">
                                <span>Tags:</span>
                            </div>
                            <span ng-repeat="tag in snippet.tags">
                                <a ng-click="clickTag(tag.name)">{{tag.name}}</a>
                            </span>
                        </td>

                    </tr>
                </tbody>
            </table>




        </div>
        <!--END Snippet header-->
        <!--snippet information-->
        <div class="panel-body snippet-content">

            <!--Text display-->
            <div class="post-content">
                {{snippet.text}}
            </div>
            <!--END Text display-->
            <!--Photo display-->
            <div class="photo-display" ng-if="snippet.mediaType.name=='Image'">
                <div class="media media-lightbox">
                    <img ng-src="{{snippet.snippetImage.image}}" alt="{{snippet.snippetImage.name}}" />
                </div>
            </div>
            <!--END Photo display-->
            <!--Link display-->
            <div class="link-display" ng-if="snippet.mediaType.name=='Link'">
                <div class="media media-lightbox">
                    <a href="{{snippet.snippetLink.url}}" target="blank">
                        <img ng-src="{{snippet.snippetLink.image}}" />
                    </a>
                </div>
                <a href="{{snippet.snippetLink.url}}" target="blank">{{snippet.snippetLink.title}}</a>
                <p>{{snippet.snippetLink.summary}}</p>
            </div>
            <!--END Link display-->
            <!--Video display-->
            <div class="video-display" ng-if="snippet.mediaType.name=='Video'">
                <div class="media">
                    <embed-video ng-href="{{snippet.snippetVideo.url}}" class="embed-responsive-item">
                        <a href="{{snippet.snippetVideo.url}}">Watch</a>
                    </embed-video>
                </div>
            </div>
            <!--END Video display-->
        </div>
        <!--END snippet information-->
        <!--Comments section-->
        <div class="panel-heading comments">
            <div class="number-posts-hidden">
                {{snippet.comments.length}} comments
                <img src="../../../Assets/Img/down-arrow.PNG" />
            </div>
            <!--Users comments-->
            <div class="media" ng-repeat="comment in snippet.comments">
                <div class="media-left media-middle">
                    <img title="user-dp" class="media-object" ng-src="{{comment.user.avatar}}" width="40" />
                </div>
                <div class="media-body">
                    <span class="user-name">{{comment.user.userName}}</span>
                    &mdash;
                    <span class="snippet-timestamp date-posted">
                        <time>{{ comment.created | amCalendar }}</time>
                    </span>
                    <div class="snippet-comment">
                        {{comment.text}}
                    </div>
                </div>
            </div>
            <!--end user comments repeated to get an idea of look and feel-->
            <!--END Users comments-->

            <div class="add-comment">
                    <!--<input type="text" class="form-control" id="post-comments" placeholder="Add a comment...">-->
                <div contenteditable class="custom-textarea" role="textbox" placeholder="Add a comment..." ng-model="snippetComment[snippet.id].comment" ng-focus="commentFocus(snippet.id)"></div>
                <div class="snippetbox-buttons" ng-if="activeNewComment.indexOf(snippet.id) != -1">
                    <button type="button" class="btn btn-sm btn-success" ng-click="AddComment(snippet.id)">Post Comment</button>
                    <button type="button" class="btn btn-sm btn-default" ng-click="ClearComment(snippet.id)">Cancel</button>
                </div>
            </div>
        </div>
        <!--END Comments section-->
    </div>

</div>

<style>
    .category {
        font-size: 17px;
        color: #000;
        background-color: #B8DCFF;
        border-color: #ddd;
        padding: 3px 15px;
    }

    .hash-tags {
        color: #000;
        vertical-align: top;
        padding: 0 10px;
    }

    .post-details {
        padding: 6px 15px;
        border-bottom: 1px solid #ddd;
    }

    .post-information {
        vertical-align: top;
        border-right: 1px solid #ddd;
    }

    .no-padding {
        padding: 0;
    }

    .user-comments {
        margin: 10px 0;
    }

    .user-name {
        font-weight: 700;
    }
</style>