﻿<div class="snippetbox col-md-5 center-block" ng-class="snippetbox">
    <div class="snippetbox-share">
        <div class="panel panel-default row">

            <div class="panel-heading col-md-12">

                <div class="col-md-12">

                    <div class="snippetbox-textarea">
                        <div contenteditable class="custom-textarea" role="textbox" placeholder="Add snippet..." ng-model="newSnippet.Text" ng-focus="textFocus()"></div>
                    </div>
                    <div class="snippetbox-buttons">
                        <button type="button" class="btn btn-sm" ng-click="SelectText()" ng-if="newSnippet.MediaType!='Text'">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            Text
                        </button>
                        <button type="button" class="btn btn-sm" ng-click="SelectLink()" ng-if="newSnippet.MediaType!='Link'">
                            <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                            Link
                        </button>
                        <button type="button" class="btn btn-sm" ng-click="SelectImage()" ng-if="newSnippet.MediaType!='Image'">
                            <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                            Image
                        </button>
                        <button type="button" class="btn btn-sm" ng-click="SelectVideo()" ng-if="newSnippet.MediaType!='Video'">
                            <span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>
                            Video
                        </button>
                    </div>
                    <div class="snippetbox-attachement" ng-if="newSnippet.MediaType=='Link'">
                        <div class="snippetbox-attachement-link-add">
                            <form class="form-inline">
                                <div class="form-group">
                                    <input type="text" class="form-control" ng-model="attachLink.url" placeholder="Paste link url here">
                                </div>
                                <button type="button" class="btn btn-sm btn-warning" ng-click="checkLink()">Add</button>
                            </form>
                        </div>
                        <div class="snippetbox-attachement-link-render">
                            <div class="media media-lightbox">
                                
                                <img ng-src="{{attachLink.images[attachLink.images.i]}}" class="media-object " />
                                <div class="media-heading">
                                    <a ng-click="linkImgIndex(-1)">
                                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    </a>
                                    <span class="text">{{attachLink.images.i+1}} / {{attachLink.images.length}}</span>
                                    <a ng-click="linkImgIndex(1)">
                                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    </a>
                                </div>
                            </div>
                            <a href="{{attachLink.url}}" target="blank">{{attachLink.title}}</a>
                            <p>{{attachLink.summary}}</p>
                        </div>
                    </div>
                    <div class="snippetbox-attachement" ng-if="newSnippet.MediaType=='Image'">
                        <div class="snippetbox-attachement-image-add">
                            <div class="dropzone col-md-12" ng-class="{'dropzone-empty':(attachImage.image==null || attachImage.image=='//:0')}" file-dropzone="[image/png, image/jpeg, image/gif]"
                                 file="attachImage.image" file-name="attachImage.fileName" data-max-file-size="3">
                                <span ng-hide="attachImage.image!=null && attachImage.image!='//:0'">Drop Image Here</span>
                                <img ng-src={{attachImage.image}} class="col-md-12" />
                            </div>
                        </div>
                    </div>
                    <div class="snippetbox-attachement" ng-if="newSnippet.MediaType=='Video'">
                        <div class="snippetbox-attachement-video-add">
                            <form class="form-inline">
                                <div class="form-group">
                                    <input type="text" class="form-control" ng-model="attachVideo.url" placeholder="Paste video url here">
                                </div>
                                <button type="button" class="btn btn-sm btn-warning" ng-click="checkVideo()">Add</button>
                            </form>
                        </div>
                        <div class="snippetbox-attachement-video-render" ng-if="attachVideo.display">
                            <embed-video ng-href="{{attachVideo.url}}" class="col-md-12">
                                <a href="{{attachVideo.url}}">Watch</a>
                            </embed-video>
                        </div>
                    </div>

                    <div class="snippetbox-category" ng-if="snippetFocus">
                        <ui-select ng-model="newSnippet.Category" theme="bootstrap" tagging on-select="newSnippet.Category = $select.selected"
                                   style="width: 300px;" title="Choose a category">
                            <ui-select-match placeholder="Select a category">{{$select.selected}}</ui-select-match>
                            <ui-select-choices repeat="category in category.names | filter: $select.search" value="{{$select.selected}}">
                                <span ng-bind-html="category | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>

                </div>
            </div>
            
            <div class="panel-body col-md-12" ng-if="snippetFocus">

                <div class="snippetbox-buttons">
                    <button type="button" class="btn btn-sm btn-success" ng-click="AddSnippet()">Save</button>
                    <button type="button" class="btn btn-sm btn-default" ng-click="ClearSnippet()">Cancel</button>
                </div>
            </div>

        </div>
    </div>
</div>
