﻿<div class="col-md-12 col-sm-12 endzone">
    <div class="col-md-3 col-sm-9 pull-right">
        <div contenteditable class="custom-textarea col-lg-10 col-md-8 col-sm-8" role="textbox" placeholder="Tag search..." ng-model="request.filter.tags"></div><button ng-click="clickTag(request.filter.tags)" class="btn btn-sm col-lg-2 col-md-4 col-sm-4">Search</button>
    </div>
</div>

<div class="col-md-2 col-sm-12">
    <div class="panel panel-default">
        <div class="panel-body">
            Snippets
        </div>
        <div class="panel-heading" ng-class="{'category-selected':(request.filter.category==null)}" ng-click="GetCategory(null)">All <span class="badge pull-right">{{SnippetNews.snippetCount}}</span></div>
        <div ng-repeat="category in category.objects | orderBy:'id'" class="panel-heading" ng-class="{'category-selected':(request.filter.category==category.name)}" ng-click="GetCategory(category.name)">{{category.name}} <span class="badge pull-right">{{category.count}}</span></div>
    </div>
</div>

<div class="col-md-10" infinite-scroll='loadMore()' infinite-scroll-immediate-check="false">
    <div ng-include="'App/Components/Cubed/Snippet/_snippetBox.html'" class="snippetbox-holder" ng-if="snippetFocus"></div>
    
    <div class="col-md-4">
        
        <div class="snippetbox" ng-if="!snippetFocus">
            <div class="snippetbox-share">
                <div class="panel panel-default row">
                    <div class="panel-heading col-md-12">
                        <div class="col-md-12">
                            <div class="snippetbox-textarea">
                                <div contenteditable class="custom-textarea" role="textbox" placeholder="Add snippet..." ng-focus="textFocus()"></div>
                            </div>
                            <div class="snippetbox-attachement">
                                <div class="snippetbox-buttons">
                                    <button type="button" class="btn btn-sm" ng-click="SelectText()">
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span><br />
                                        Text
                                    </button>
                                    <button type="button" class="btn btn-sm" ng-click="SelectLink()">
                                        <span class="glyphicon glyphicon-link" aria-hidden="true"></span><br />
                                        Link
                                    </button>
                                    <button type="button" class="btn btn-sm" ng-click="SelectImage()">
                                        <span class="glyphicon glyphicon-picture" aria-hidden="true"></span><br />
                                        Image
                                    </button>
                                    <button type="button" class="btn btn-sm" ng-click="SelectVideo()">
                                        <span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span><br />
                                        Video
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <ng-include src="'App/Components/Cubed/Snippet/_snippet.html'" ng-repeat="snippet in snippets.col1 track by $index"></ng-include>
    </div>
    <div class="col-md-4">
        <ng-include src="'App/Components/Cubed/Snippet/_snippet.html'" ng-repeat="snippet in snippets.col2 track by $index"></ng-include>
    </div>
    <div class="col-md-4">
        <ng-include src="'App/Components/Cubed/Snippet/_snippet.html'" ng-repeat="snippet in snippets.col3 track by $index"></ng-include>
    </div>
</div>

<div class="col-md-12 endzone">
    <span>End of Results</span>
</div>
